.credentials__title {
    @extend .heading;
    margin-bottom: 20px;
    text-align: center;
    @include article-title;
}

.credentials__list {
    @extend .list;
}

.credentials__item {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.credentials__project {
    @extend .heading;
    margin-bottom: 20px;
    @include font(24px, 120%);


    &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        margin-bottom: 5px;
        background-color: yellowgreen;
    }
}

.credentials__text {
    margin: 0;
    text-align: justify;
        @include font(16px, 120%);
            color: $--aux-color;
}