.left-bar {
    @media screen and (min-width: 768px) {
        padding-top: 20px;
        border-right: 2px solid $--aux-background-color;
        background-color: rgba(226, 226, 226, 0.842);
    }

    @media screen and (min-width: 1200px) {
        width: 400px;
    }
}

.lb-art__section {
    padding: 0 10px;
    margin-bottom: 20px;
}

.lb-art__title {
    @extend .heading;
    @include article-title;
    margin-bottom: 20px;
}

.lb-art__list {
    @extend .list;
    padding-left: 20px;
}

.lb-art__item {
    list-style: square;
    @include font(16px, 120%);
    color: $--aux-color;
    margin-bottom: 10px;
}

.lb-art__text {
    @include font(16px, 120%);
    color: $--aux-color;
    text-align: center;
}

